body 
{ text-align:center; 
height: 100%;
background-color:#add8e6;
overflow:hidden;
width:100%;
color: white;
}

.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #555;
}
 
a:link {
    color: White;
}

/* visited link */
a:visited {
    color: White;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: white;
} 

